
@{
    Layout = "~/Views/Shared/_ver2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    <link href="~/Content/CSS/Roll.css" rel="stylesheet" />
</head>
<body>
    <div class="listing-section">
        <!-- Filter for non-touch device -->
        <div class="listing-sidebar">
            <div class="ad-section">
                <div class="inner-ad">
                    <script async="async" src="https://www.googletagservices.com/tag/js/gpt.js"></script>
                    <script>
																	
                    </script>

                    <script>
																	
                    </script>



                    <!-- /118335522/BMS_WEB_MoviePage_New_250x250 -->
                    <div id="div-gpt-ad-1528275628970-0" style="height:250px; width:250px;" data-google-query-id="CIeozrO8t90CFVWKaAodwygFMQ"><div id="google_ads_iframe_/118335522/BMS_WEB_MoviePage_New_250x250_0__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/118335522/BMS_WEB_MoviePage_New_250x250_0" title="3rd party ad content" name="google_ads_iframe_/118335522/BMS_WEB_MoviePage_New_250x250_0" width="250" height="250" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" srcdoc="" style="border: 0px; vertical-align: bottom;" data-load-complete="true"></iframe></div></div>
                </div>
            </div>
            
           

        </div>
        <!-- Filters End -->
        <div class="card-listing-section">
            <div class="cards-list">
                <div class="__col-now-showing">
                    <!-- Just for you starts -->
                    <div class="mv-row">
                        <div class="card-container wow fadeIn movie-card-container" data-selector="movies" data-search-filter="movies-Seemaraja" data-filter="|Tamil|Action|Comedy|Drama|2D" data-language-filter="|Tamil" data-genre-filter="|Action|Comedy|Drama" data-dimension-filter="|2D" style="visibility: visible; animation-name: fadeIn;">
                            <a href="/pondicherry/movies/seemaraja/ET00071148" title="Seemaraja">
                                <div class="cards">
                                    <div class="card-img">
                                        <img class="__poster __animated" src="//in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/seema-raja-et00071148-17-02-2018-04-04-34.jpg" data-src="//in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/seema-raja-et00071148-17-02-2018-04-04-34.jpg" data-mobile="" alt="Seemaraja" data-error="//in.bmscdn.com/events/mobile/vertical-noimg.png">
                                        <img class="__poster __animate" src="//in.bmscdn.com/events/mobile/vertical-noimg.png">
                                        <div class="__flag __exclusive ">
                                        </div>
                                    </div>
                                    <div class="card-details lang-eng">
                                        <div class="card-left">
                                            <div class="popularity sa-data-plugin" data-event-group="EG00051139" data-event-code="ET00071148" data-coming-soon="false">
                                                <div class="__likes">
                                                    <div class="__icon __heart">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><use xlink:href="/icons/movies-icons.svg#icon-heart"></use>
                              </svg>
                                                    </div>
                                                    <div class="__icon __thumbs _none">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><use xlink:href="/icons/movies-icons.svg#icon-like"></use>
                              </svg>
                                                    </div>
                                                    
                                                </div>
                                                <div class="__votes">
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-right">
                                            <div class="card-title">
                                                <h4>Seemaraja</h4>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        
                                             
                        
                    </div>
                    <div class="pagination">
                        <button class="btn _dos" data-pagination="movies" style="display: none;">LOAD MORE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
